Source: cronutils
Section: admin
Priority: optional
Maintainer: Jamie Wilkinson <jaq@debian.org>
Build-Depends: debhelper-compat (= 12), dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.6
Homepage: http://code.google.com/p/cronutils
VCS-Browser: https://github.com/google/cronutils/tree/debian
VCS-Git: https://github.com/google/cronutils.git -b debian

Package: cronutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities to assist running batch processing jobs
 A set of utilities to complement batch processing jobs, such as those
 run from cron, by limiting concurrent execution of jobs, setting hard
 limits on the runtime of a job, and recording execution statistics of
 a completed job.
